.isFav,
.isNotFav {
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 0 18px #ffffff;
}

.isFav:hover,
.isNotFav:hover {
  cursor: pointer;
}

.isNotFav {
  background-color: #0b4e90;
}

.isFav {
  background-color: #fedf3b;
  color: black;
}
