header {
  background-color: #202020;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  text-align: center;
}

header nav {
  height: 40px;
  border-top: 1px solid #393939;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  color: white;
  font-family: "Roboto Condensed";
  margin: 0 20px;
  font-weight: bold;
  text-decoration: none;
}
